<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Название страницы</title>
        <meta name="description" content="Описание страницы">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.js"></script>
        <link rel="icon" href="/data/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>

            </nav>
        </header>
        <canvas id="stars"></canvas>
        <script src="/js/backgrownd.js" type="text/javascript"></script>
        <div id="app">
            <div class="">
                <aside id="leftMenu" class="uk-padding">
                    <nav id="mainMenu">
                        <ul id="menu" v-html="menu">
                            
                        </ul>
                    </nav>
                </aside>
                <main>
                    <section>
                        <h1 class="uk-heading-hero uk-padding-small">Создание новости</h1>
                    </section>
                    <p>Время публикации (Можно писать например в 2014 году): <input type="text" v-model="formData" v-on:input="render"></p>
                    <p>Заголовок: <input type="text" v-model="formHeader" v-on:input="render"></p>
                    <p>Основной текст: <textarea v-model="formText" v-on:input="render"></textarea></p>
                    <button v-on:click="addPhoto">Добавить картинку</button>
                    <button v-on:click="addDocument">Добавить файл</button>
                    <br>
                    <button v-on:click="clearImages">Очистить изображения</button>
                    <button v-on:click="clearDouments">Очистить файлы</button>
                </main>
            </div>
            <div class="container" v-html="prototipText" style="margin-top: 25px;margin-bottom: 25px;"></div>
            <div style="height: 25;"></div>
            <button style="margin: auto;" v-on:click="pushToServer">Опубликовать запись</button>



            <div style="width: 900px;height: 200px;"></div>
            <footer class="uk-tile-secondary">
                <div style="justify-content: center;align-items: center;" class="container">
                    <ul style="margin: 20px;">
                        <li><a href="/">Главная страница</a></li>
                        <li><a href="/portfolio">Портфолио</a></li>
                        <li><a href="mailto:larisaferaru@yandex.ru?subject=Вопрос от пользователя сайта">Связаться с учителем</a></li>
                    </ul>
                    <ul>
                        <li><a>Карта сайта</a></li>
                        <li><a href="https://github.com/larisaferaru/larisaferaru.github.io/blob/main/README.md">История разработки</a></li>
                        <li><a href="mailto:vladimirkurdiukov@gmail.com?subject=Вопрос от пользователя сайта larisaferaru">Связаться с разработчиком</a></li>
                    </ul>
                    <ul>
                        <li>(c) lava_frai</li>
                        <li>Курдюков Владимир</li>
                        <li>2020</li>
                    </ul>
                </div>
            </footer>
        </div>



        <script src="/js/library.js"></script>  <!--Определяем библиотеки-->
        <script src="/js/mainload.js"></script>   <!--Запрашиваем файл конфига, для последующей разборки-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var date = new Date();
            pageNumber = 0;
            const vm = new Vue({    //Обьект Vue JS Документация - https://ru.vuejs.org
                el: '#app',
                data: {
                    name: mainJson.name,
                    surname: mainJson.surname,
                    middlename: mainJson.middlename,
                    description: mainJson.description,
                    mainPhoto: mainJson.main_photo,
                    lowMainPhoto: "low_" + mainJson.main_photo,
                    recentEvents: "Идет загрузка последних событий...",
                    menu: "Идет закрузка меню...",
                    formData: date.getDate().toString() + "." + date.getMonth().toString() + "." + date.getFullYear().toString(),
                    formHeader: "",
                    formText: "",
                    formImages: [],
                    formDocuments: [],
                    prototipText: ""
                },
                methods: {
                    addPhoto: function () {
                        let imgSrc = prompt("Вставьте ссылку на изображение:").replace(/ /g, "")
                        if (imgSrc != "" && imgSrc != null) {
                            this.formImages.push(imgSrc)
                        }
                        this.render()
                    },
                    addDocument: function () {
                        let docSrc = prompt("Вставьте ссылку на документ:").replace(/ /g, "")
                        if (docSrc != "" && docSrc != null) {
                            this.formDocuments.push(docSrc)
                        }
                        this.render()
                    },
                    clearImages: function () {
                        this.formImages = []
                        this.render()
                    },
                    clearDouments: function () {
                        this.formDocuments = []
                        this.render()
                    },
                    render: function () {
                        let eventsText = ""
                        let eventArray = {"events": [{
                            "type": "standartEvent",
                            "date": this.formData,
                            "header": this.formHeader,
                            "text": this.formText,
                            "images": this.formImages,
                            "documents": this.formDocuments
                        }]}
                        let i = 0
                        eventsText += '<div class="event" style="justify-content: space-between;">'
                        eventsText += '<div class="container"><h6>' + eventArray.events[i].date + '</h6><h3>' + eventArray.events[i].header + '</h3></div><p style="font-size: 18px;">' + eventArray.events[i].text + '</p>'
                        if (eventArray.events[i].images.length != 0) {
                            eventsText += '<div class="slider"><div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true" style="height: 350px;"><ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 30">'
                            for (let j = 0; j < eventArray.events[i].images.length; j++) {
                                eventsText += `<li class="uk-width-3-4" style="height: 300px;" onclick="window.location = '` + eventArray.events[i].images[j] + `'">`
                                eventsText += '<div class="uk-cover-container"><img src="' + eventArray.events[i].images[j] + '" alt="" uk-cover></div></li>'
                            }
                            eventsText += '</ul>'
                            eventsText += '<a class="uk-position-center-left uk-position-small uk-hidden-hover sliderArrow" href="#" uk-slidenav-previous uk-slider-item="previous"></a>'
                            eventsText += '<a class="uk-position-center-right uk-position-small uk-hidden-hover sliderArrow" href="#" uk-slidenav-next uk-slider-item="next"></a>'
                            eventsText += '</div></div>'
                        }
                        if (eventArray.events[i].documents.length != 0) {
                            eventsText += '<div class="sliderFiles"><h4>Приложенные файлы:</h4>'
                            for (let j = 0; j < eventArray.events[i].documents.length; j++) {
                                eventsText += '<a href="' + eventArray.events[i].documents[j] + '" class="uk-button-default uk-button-text" style="text-decoration: none; padding: 5px;" download=""><span uk-icon="icon: file-text"></span>' + getFilename(eventArray.events[i].documents[j]) + '</a>'
                            }
                            eventsText += '</div>'
                        }
                        eventsText += '</div><hr>'
                        this.prototipText = eventsText;
                    },
                    pushToServer: function () {
                        if (confirm("Вы уверены, что хотите опубликовать эту запись?\nПосле публикации она станет видна всем.\nСначала тщательно проверьте запись.")) {
                            let eventReq = new XMLHttpRequest();
                            eventReq.open("GET", "https://api.jsonbin.io/b/5fbe83c7177c556ef9b2c69c/latest", false);
                            eventReq.setRequestHeader("secret-key", "$2b$10$XH5aZr/st0eDUBWdbtD0rewEVGIIOI209qH09icZj8GknAeHK90xC");
                            eventReq.send();
                            let eventArray = JSON.parse(eventReq.responseText);
                            let tempEvent = {
                                "type": "standartEvent",
                                "date": this.formData,
                                "header": this.formHeader,
                                "text": this.formText,
                                "images": this.formImages,
                                "documents": this.formDocuments
                            }
                            eventArray.events.push(tempEvent);
                            log(JSON.stringify(eventArray))
                            let reqPush = new XMLHttpRequest();
                            reqPush.open("PUT", "https://api.jsonbin.io/b/5fbe83c7177c556ef9b2c69c", false);
                            reqPush.setRequestHeader("Content-Type", "application/json");
                            reqPush.setRequestHeader("secret-key", "$2b$10$XH5aZr/st0eDUBWdbtD0rewEVGIIOI209qH09icZj8GknAeHK90xC");
                            reqPush.send(JSON.stringify(eventArray));
                            alert("Успешно опубликовано!");
                            location = "/";
                        }
                    }
                }
            })
        </script>
        <script src="/js/menu.js"></script>    <!--Загружаем меню-->
    </body>
</html>